<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="magetop_helloworld_post_listing_data_source" xsi:type="string">Magetop\HelloWorld\Model\ResourceModel\Posts\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Magetop\HelloWorld\Model\ResourceModel\Posts\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">magetop_helloworld_posts</argument>
            <argument name="resourceModel" xsi:type="string">Magetop\HelloWorld\Model\ResourceModel\Posts</argument>
        </arguments>
    </virtualType>
</config>